.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    z-index: 2;
}

.navbar > h1 {
    background-image: linear-gradient(#770031, #FF5092);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing Script", cursive;
}

.navbar-menu {
    display: flex;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

.navbar-menu > li {
    margin-left: 20px;
}

.navbar-right {
    font-size: 32px;
    color: #770031;
}